.sidebar {
    display: flex;
    justify-content:center ;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.btn.cat_btn {
    text-transform: capitalize;
    background: var(--color-primary);
    color: var(--color-white);
}

.btn.cat_btn:hover {
    transform: translateY(0);
   background-color: white;
    color: var(--color-primary);
}

.cat_btn {
    margin-top: 1rem;
    opacity: 0;
    animation: animateSide 800ms ease-in forwards;
    border: var(--color-black);
}

@keyframes animateSide {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
