.center {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.search_bar_center .col_label_center {
    display: flex;
    flex-direction: row-reverse;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.center_list_card {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 70px;
    /* margin-top: 50px; */
    grid-template-rows: auto auto;
    margin-top: 50px;
    margin-left: 50px;
}

.search_footer {
    margin-left: -5rem;
}

@media (max-width: 1919px) {
    .center_list_card {
        grid-template-columns: auto auto auto auto;
    }
}

@media (max-width: 1646px) {
    .center_list_card {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 1277px) {
    .center_list_card {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 1007px) {
    .center_list_card {
        grid-template-columns: auto;
    }
}

