@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
.payment_container h2 {
    text-align: center;
}
.payment_card {
    margin: 3rem 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1.5rem;
    margin-top: 40px;
    border: 1px dashed var( --color-black);
    border-radius: 8px;
    background-color: white;
    padding: 40px 52px;
    text-align: center;
}

.container h6 {
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
}