:root {
    --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
    --orange: #fca61f;
    --black: #242d49;
    --gray: #788097;
    --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
    --pink: #FF919D;
    --glass: rgba(255, 255, 255, 0.54);
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --activeItem: #f799a354;
  }

  @import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Oswald:wght@300&family=Playfair+Display&family=Young+Serif&display=swap');

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background: var(--gray) ;
    background: url("https://images.unsplash.com/photo-1489526021617-36489c974c67?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")no-repeat;
    background-position: center;
    background-size: auto;
    font-family: 'Lora', serif;
}

.form-box {
    position: relative;
    width: 500px;
    height: 450px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    flex-direction: column;
}
h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    font-family: 'Lora', serif;
}

.input-box {
    position: relative;
    margin: 30px 0;
    width: 350px;
    border-bottom: 2px solid #fff;
}

.label {
    font-size: 1em;
}

.label:focus ~ .label,
.label:valid ~ .label {
    top: -5px
}

.btn-login {
    width: 70%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}