@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&family=Young+Serif&display=swap');


.card_center{
    position: relative;
    /* overflow: hidden; */
}

.card_center:hover .card_body{
	transform: scale(1.3); 
} 
.card_body {
    width: 100%;
    height: auto;
    transition: all .3s ease;
}
