
  .form-search {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 50px;
    border: 1px solid #ececec;
    border-radius: 25px;
    overflow: hidden;
  }
  
  .form-search > input {
    font-size: 16px;
    border: 0px;
    outline: none;
    padding: 20px;
    flex: 1;
  }
  
  .form-search > button {
    background-color: #ececec;
    border: 0px;
    outline: none;
    padding: 5px 20px;
  }
  