/* .search-item-container {
    display: flex;
    height: 200px;
    border: 1px solid #ececec;
    border-radius: 12px;
    overflow: hidden;
    margin: 20px 0px;
    background-color: white;
  }
  
  .search-item__image {
    width: 150px;
    height: 200px;
  }
  
  .search-item__inner {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
    height: 100%;
  }
  
  .search-item__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .search-item__date {
    font-size: 14px;
    color: gray;
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .search-item__overview {
    font-size: 16px;
  }
  
  .search-title {
    display: flex;
  }
  
  .search-title__filter {
    display: flex;
    flex: 1;
    margin-left: 20px;
  }
   */