@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lora:wght@600&family=Oswald:wght@300&family=Playfair+Display&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lora:wght@600&family=Nunito:wght@300&family=Oswald:wght@300&family=Playfair+Display&family=Young+Serif&display=swap');


.edit_form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background: #fff;
}

.edit_form_p {
    font-size: 40px;
    font-weight: normal;
}

.edit_form_box {
    position: relative;
    width: 750px;
    height: 550px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(12, 236, 72, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    flex-direction: column;
    margin-bottom: 100px;
}

.btn_edit {
    display: grid; 
    grid-template-columns: auto auto;
    gap: 50px;
}

.link_cancel {
    text-decoration: none;
    color: #fff;
    text-align: center;
}