.nav_form {
    background: rgb(138, 154, 237);
    display: flex;
    justify-content: space-around;
}

.nav_text {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10rem;
    margin-left: 15%;
}

.img_logo {
    width: 12rem;
    display: flex;
}

.nav_brand {
    font-size: 45px;
}

.me-auto {
    gap: 3rem;
    display: flex;
}

.dang_xuat p {
    color: black;
}

.account_change p {
    color: black;
}

a {
    text-decoration: none;
    /* color: white; */
}

a:hover {
    color: aliceblue;
}