
.acc_container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 12%;
    /* margin-top: -100px; */
}

.search_bar_account .col_label_acc {
    margin-top: -100px;
    display: flex;
    flex-direction: row-reverse;
}
.account_head  {
    text-align: center;
}
.account_cards {
    margin: 3rem 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
}

.card.account_card {
    text-align: center;
}

.account_card-icon {
    font-size: 1.3rem;
    color: var(--color-black);
    border-radius: var(--border-radius-3);
    width: fit-content;
    margin-inline: auto;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    transition: var(--transition);
}

.card.account_card:hover .account_card-icon {
    background: var(--color-primary);
    color: white;
}

.card.account_card h5 {
    margin: 1rem 0;
}

@media screen and (max-width: 1400px) {
    .account_cards{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .acc_container {
        grid-template-columns: 1fr;
    }
    .account_head h2 {
        text-align: center;
    }
}

@media screen and (max-width: 992px) {
    .account_cards{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .account_cards{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}